#game-container {
    display: flex;
    gap: 20px;
    width: 160%;
    justify-content: space-evenly;
}

svg {
    height: 550px;
    background-color: rgb(242, 242, 162);
    width: 40%;
    border: 15px solid gray;
}

.board-line {
    stroke: black;
    stroke-width: 0.5;
}

.board-circle:hover {
    fill: red;
    cursor: pointer;
}
.turn{
    width: 160%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.turn h3{
    background-color: yellowgreen;
    width: 200px;
    text-align: center;

}
.homeScreen{
    width: 170px;
    margin-left: 90%;
    text-align: center;
}
.wr{
    margin-left: 20%;
}
.qw{
    width: 20px;
    height: 20px;
    border: none;
    background-color: #1a1a1a;
    padding-right: 3px;
}
.white, .black{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}
.black{
    background-color: black;
}