#game-container {
  display: flex;
  gap: 20px;
  width: 200%;
  justify-content: space-evenly;
}
svg {
  height: 550px;
  background-color: rgb(232, 82, 52);
  width: 40%;
  /* border: 15px solid gray; */
}
.board-line {
  stroke: black;
  stroke-width: 0.5;
}
.board-circle:hover {
  fill: red;
  cursor: pointer;
}
.homeScreen {
  width: 150px;
  height: 40px;
  margin-top: -1px;
  float: left;
  /* margin-top: 530px; */
  text-align: center;
}
.whiteCircle {
  margin-left: 20%;
}
.icon {
  width: 20px;
  height: 20px;
  border: none;
  background-color: #1a1a1a;
  padding-right: 3px;
}
.white,
.black {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  
}
.black {
  background-color: black;
  
}
.turn {
  width: 250%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.turn h3 {
  width: 200px;
  text-align: center;
  padding: 5px;
}
