.backgroundImage {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(assets/slika.png);
  background-size: cover;
  z-index: -1;
}
.buttonsContainer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.buttonsGroup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
  border: 10px dotted red;
  width: 80%;
}

.buttonsContainer h1,
h2 {
  color: rgb(88, 193, 228);
  margin-top: 20px;
  font-size: 3.2em;
  line-height: 1.1;
}

.buttonsGroup h2 {
  color: white;
  background-color: brown;
  border-radius: 5px;
}
.buttonsGroup select {
  width: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 40px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 250px;
  margin-top: 10px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
